global_defs {
  notification_email {}
  router_id LVS_DEVEL
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}

vrrp_script chk_haproxy {
  script "nc -z -v localhost 6443 &>/dev/null && pgrep haproxy"
  interval 2
  weight 2
}

vrrp_instance haproxy-vip {
  state BACKUP
  priority 100
  interface {{ ansible_default_ipv4.interface }}
  virtual_router_id 10
  advert_int 1

  authentication {
    auth_type PASS
    auth_pass shiggyfiggy
  }

  unicast_src_ip {{ ansible_host }}

  unicast_peer {
{% for node in kube_api_nodes | rejectattr("1.ansible_host","equalto",ansible_host) %}
    {{ node.1.ansible_host }} # {{ node.0 }}
{% endfor %}
  }

  virtual_ipaddress {
    {{ k3s_registration_address }}
  }

  track_script {
    chk_haproxy
  }
}
