---
version: v1alpha1
machine:
  ca:
    crt: ref+vault://kubernetes-main/talos-cluster#machine_ca_crt
    {% if ENV.CONTROLPLANE %}
    key: ref+vault://kubernetes-main/talos-cluster#machine_ca_key
    {% endif %}
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true # Requires Cilium socketLB features
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    {% if ENV.CONTROLPLANE %}
    kubernetesTalosAPIAccess:
      enabled: true
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
      allowedRoles:
        - os:admin
    {% endif %}
    rbac: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=8
        noatime=True
        rsize=1048576
        wsize=1048576
        resvport=True
  install:
    image: factory.talos.dev/metal-installer-secureboot/{{ ENV.SCHEMATIC }}:v1.13.5
    #image: factory.talos.dev/metal-installer/{{ ENV.SCHEMATIC }}:v1.13.2
    wipe: true
    diskSelector:
      type: nvme
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      serializeImagePulls: false
    image: ghcr.io/siderolabs/kubelet:v1.36.1
    nodeIP:
      validSubnets:
        - 172.22.0.0/25
  nodeLabels:
    topology.kubernetes.io/region: {{ ENV.CLUSTER }}
  sysctls:
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "1048576"
    net.core.default_qdisc: fq
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.ipv4.neigh.default.gc_thresh1: "4096"
    net.ipv4.neigh.default.gc_thresh2: "8192"
    net.ipv4.neigh.default.gc_thresh3: "16384"
    net.ipv4.ping_group_range: 0 2147483647
    net.ipv4.tcp_congestion_control: bbr
    net.ipv4.tcp_fastopen: "3"
    net.ipv4.tcp_mtu_probing: "1"
    net.ipv4.tcp_notsent_lowat: "131072"
    net.ipv4.tcp_rmem: 4096 87380 33554432
    net.ipv4.tcp_slow_start_after_idle: "0"
    net.ipv4.tcp_window_scaling: "1"
    net.ipv4.tcp_wmem: 4096 65536 33554432
    sunrpc.tcp_max_slot_table_entries: "128"
    sunrpc.tcp_slot_table_entries: "128"
    user.max_user_namespaces: "11255"
    vm.nr_hugepages: "1024"
  token: ref+vault://kubernetes-main/talos-cluster#machine_token
cluster:
  ca:
    crt: ref+vault://kubernetes-main/talos-cluster#cluster_ca_crt
    {% if ENV.CONTROLPLANE %}
    key: ref+vault://kubernetes-main/talos-cluster#cluster_ca_key
    {% endif %}
  clusterName: {{ ENV.CLUSTER }}
  controlPlane:
    endpoint: https://k8s.zynthovian.xyz:6443
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
  id: ref+vault://kubernetes-main/talos-cluster#cluster_id
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.43.0.0/16
  secret: ref+vault://kubernetes-main/talos-cluster#cluster_secret
  token: ref+vault://kubernetes-main/talos-cluster#cluster_token
  {% if ENV.CONTROLPLANE %}
  aggregatorCA:
    crt: ref+vault://kubernetes-main/talos-cluster#cluster_aggregatorca_crt
    key: ref+vault://kubernetes-main/talos-cluster#cluster_aggregatorca_key
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    certSANs:
      - k8s.zynthovian.xyz
    disablePodSecurityPolicy: true
    extraArgs:
      enable-aggregator-routing: "true"
      feature-gates: HPAScaleToZero=true
    image: registry.k8s.io/kube-apiserver:v1.36.1
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
      feature-gates: HPAScaleToZero=true
    image: registry.k8s.io/kube-controller-manager:v1.36.1
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 172.22.0.0/25
    ca:
      crt: ref+vault://kubernetes-main/talos-cluster#cluster_etcd_ca_crt
      key: ref+vault://kubernetes-main/talos-cluster#cluster_etcd_ca_key
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.36.1
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-scheduler:v1.36.1
  secretboxEncryptionSecret: ref+vault://kubernetes-main/talos-cluster#cluster_secretboxencryptionsecret
  serviceAccount:
    key: ref+vault://kubernetes-main/talos-cluster#cluster_serviceaccount_key
  {% endif %}
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
encryption:
  provider: luks2
  keys:
    - slot: 0
      kms:
        endpoint: "http://xenia.zynthovian.xyz:4050"
---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
    - address: 172.22.0.1
searchDomains:
  domains:
    - zynthovian.xyz
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: TrustedRootsConfig
name: homelab-ca
certificates: |
  -----BEGIN CERTIFICATE-----
  MIIC9zCCAn6gAwIBAgIUP+m/ni51/ZkzdW8Y3GPJulrT/2kwCgYIKoZIzj0EAwMw
  eTEmMCQGA1UECgwdWnludGhvdmlhbiBJbnRlcnN0ZWxsYXIgVW5pb24xKDAmBgNV
  BAsMH0RpZ2l0YWwgSW5mcmFzdHJ1Y3R1cmUgU2VydmljZXMxJTAjBgNVBAMMHFJv
  b3QgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMjQwOTE2MDAwMDAwWhcNMzQw
  OTE4MDAwMDAwWjB5MSYwJAYDVQQKDB1aeW50aG92aWFuIEludGVyc3RlbGxhciBV
  bmlvbjEoMCYGA1UECwwfRGlnaXRhbCBJbmZyYXN0cnVjdHVyZSBTZXJ2aWNlczEl
  MCMGA1UEAwwcUm9vdCBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTB2MBAGByqGSM49
  AgEGBSuBBAAiA2IABNiyroVO4PiMV8iQBv2ER0Qb/RdsX5k3OmAtaH4pIhyLcXHe
  8MdzYdMmnKJKHCBH24cXUQPX1Hm8uq1afxt3yYIVJyzcXXef/3xz2Y0uSpXZrBoJ
  mNqbtCtD8pAL2Oq5G6OBxjCBwzAOBgNVHQ8BAf8EBAMCAQYwDwYDVR0TAQH/BAUw
  AwEB/zAdBgNVHQ4EFgQU8ywVEcGb+Wz3akgNXLymh9gu474wHwYDVR0jBBgwFoAU
  8ywVEcGb+Wz3akgNXLymh9gu474wNAYHKwYBBAF6AQQpDCdFbGxpYW5hIFBlcnJ5
  IDxlbGxpYW5hLnBlcnJ5QGdtYWlsLmNvbT4wKgYHKwYBBAF6AgQfDB1Ib21lbGFi
  IENlcnRpZmljYXRlIEF1dGhvcml0eTAKBggqhkjOPQQDAwNnADBkAjA7ajmZIkDL
  lpWWCbeYajQax59Xuv96kqVLKEHGtBmX9C9t0SJdXTiYQgFrwWvI+7YCMAc4mku6
  YHUmHnwIv1aE1uDJgENEg+0JPHYzuV+dSn0RIEmoq8FvNmlf1Cqs1wzlZA==
  -----END CERTIFICATE-----
