---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
    controllers:
      main:
        type: deployment
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: latest@sha256:b6ac42c31845ea7c862d71451c16413a6284430d8ff08e16ad791f42718a7c71
              pullPolicy: IfNotPresent
            env:
              HOMEPAGE_ALLOWED_HOSTS: homepage.zynthovian.xyz
              TZ: America/Detroit
              PUID: 568
              PGID: 568
    persistence:
      configroot:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /app/config
      images:
        enabled: true
        type: 'nfs'
        server: 'xenia.zynthovian.xyz'
        path: '/srv/media/Wallpaper'
        globalMounts:
          - path: '/app/public/images'
            readOnly: true
      config:
        enabled: true
        type: configMap
        name: homepage-config
        advancedMounts:
          main:
            main:
              - path: /app/config/bookmarks.yaml
                subPath: bookmarks.yaml
              - path: /app/config/docker.yaml
                subPath: docker.yaml
              - path: /app/config/kubernetes.yaml
                subPath: kubernetes.yaml
              - path: /app/config/services.yaml
                subPath: services.yaml
              - path: /app/config/settings.yaml
                subPath: settings.yaml
              - path: /app/config/widgets.yaml
                subPath: widgets.yaml
    # ============================
    # Service and Ingress
    # ============================
    service:
      main:
        enabled: true
        controller: main
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        className: nginx-internal
        annotations:
          external-dns.alpha.kubernetes.io/target: nginx-internal.zynthovian.xyz
        hosts:
          - host: &host "{{ .Release.Name }}.zynthovian.xyz"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
            - *host
    # ============================
    # Service Account and Roles
    # ============================
    serviceAccount:
      homepage:
        enabled: true
    rbac:
      roles:
        default:
          type: ClusterRole
          enabled: true
          forceRename: *app
          rules:
            - apiGroups:
                - ""
              resources:
                - namespaces
                - pods
                - nodes
              verbs:
                - get
                - list
            - apiGroups:
                - extensions
                - networking.k8s.io
              resources:
                - ingresses
              verbs:
                - get
                - list
            - apiGroups:
                - metrics.k8s.io
              resources:
                - nodes
                - pods
              verbs:
                - get
                - list
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions/status
              verbs:
                - get
                - list
      bindings:
        default:
          type: ClusterRoleBinding
          enabled: true
          forceRename: *app
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: *app
          subjects:
            - kind: ServiceAccount
              name: *app
              namespace: "{{ .Release.Namespace }}"